---

export async function getStaticPaths() {
    const data = await fetch("https://ptfvdbjmrovkhpwtrvhf.supabase.co/rest/v1/clf_data", {
    method:"GET", 
    headers: {
        apikey: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InB0ZnZkYmptcm92a2hwd3RydmhmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MTAxNjgwNTksImV4cCI6MjAyNTc0NDA1OX0.cbltpVw213xN42FdxfAok2D1oPezdY1T4pHRGP5rUX8"
    }
}).then(res=>res.json())

const newData = data.map((program)=>{
    return {params: {id: program.id}, props: {data: program}};
})

return newData;
console.log(newData);
    return [
        {params: {id: '01. Du som er i Himlene!'}},
        {params: {id: '02. GAIA'}},
    ];
}

const { id } = Astro.params;
---

<div>Af: {id}</div>