---
import MainLayout from  "../mainlayout/MainLayout.astro"
---
<MainLayout>
			<video width="auto" height="auto" autoplay loop>
				<source src="/src/assets/Gradient.mp4" type="video/mp4">
			</video> 

			  <div>
				<h2>Se hér, hvilke 58 lysværker vi præsenterede for festivalens mange gæster hver aften :</h2>
				<a href=""><h2>PROGRAM & EVENTS</h2></a>
				<img src="/src/assets/CircleBridge_CredentialsOlafurEliasson_2015_PhotoAndersSuneBerg_NordeaFonden.webp" alt="Cirkel bro">
				<p>I  programmet finder du også omtaler af events i festivalperioden, herunder  om koncertrækken med DR Vokalensemblet i Marmorkirken, om pop-ups ved  lysværkerne og om Lysløbet og Familieløbet, der startede og sluttede på  Ofelia Plads.
				I februar 2024 kunne  lysfestivalens gæster tage på opdagelse i Københavns indre by og i  områderne Refshaleøen, Ørestad, DR Koncerthuset, Vestre Kirkegård,  Nordhavn og brokvartererne.
				Alle festivalens lysværker kunne opleves via gå-, løbe-, cykel, havnebus- og/eller busruter.</p>
			  </div>

				<div>
					<img src="/src/assets/Hvad_er_CLF.webp" alt="Hvad er Copenhagen Light Fesitval">
					<p>Copenhagen  Light Festival er en årligt tilbagevendende festival for lys, der  transformerer det stille og kolde vintermørke til en særlig fejring af  lyskunst, lysdesign og lysende oplevelser midt i København.  
					I løbet af tre uger i februar  præsenterer festivalen et bredt udvalg af lysbaserede værker –  heriblandt skulptur, installation, projektion, event og belysning skabt  af både etablerede og spirende lysdesignere, lyskunstnere, studerende og  organisationer, 
					Med et skræddersyet lysprogram kvalificeret af et kuratorisk udvalg,iscenesættes,  fremhæves og fortolkes byens forskellige rum, pladser, bygninger, broer  og skjulte steder på en ny og spændende måde. 
					Hovedparten af værkerne er samlet  langs en rute i indre by, mens enkelte værker befinder sig i områder  udenfor centrum. Festivalen viser desuden en række events, som finder  sted enten i byrummet eller indendørs. 
					Festivalen inviterer internationale  og lokale publikum i alle aldre til at gå op opdagelse i byen i den  mørkeste og måske også koldeste måned på året.</p>
					<button>LÆS MERE</button>
				</div>

				<div>
					<img src="/src/assets/Deltag_i_fotokonkurrencen.webp" alt="Deltag i fotokonkurrence">
					<img src="/src/assets/Guidede_ture.webp" alt="Guidede ture">
					<div>
						<h2>Deltag i fotokonkurrencen for Copenhagen Light Festival 2024!</h2>
						<p>Igen i år inviterer vi lysfestivalens gæster, til at dele billeder af  jeres yndlings lysværker og stemningsbilleder fra jeres ture rundt i  byen – med os og med en jury, som vil nominere 25 billeder, der samles i  en fotoudstilling om Copenhagen Light Festival 2024.</p>
						<button>LÆS MERE</button>
					</div>
					<div>
						<h2>Guidede ture</h2>
						<p>Copenhagen Light Festival arrangerede i 2024 som noget nyt guidede ture til fods om lysfestivalens værker og baggrund.
							De guidede gåture gik gennem hjertet af  København og bød på inspirerende fortællinger bag hvert værk, fortalt af  kyndige guides fra lysfestivalen.
							Hver guidet tur varede 1 time og 30 minutter med plads til 24 deltagere</p>
						<button>Billetter</button>
					</div>
				</div>

				<h2>Tak til partnere og sponsorer</h2>
				<div>
					<img src="/src/assets/" alt="">
					<img src="/src/assets/" alt="">
					<img src="/src/assets/" alt="">
					<img src="/src/assets/" alt="">
					<img src="/src/assets/" alt="">
					<img src="/src/assets/" alt="">
					<img src="/src/assets/" alt="">
				</div>
		</MainLayout>
