---
import MainLayout from  "../mainlayout/MainLayout.astro"
---
<MainLayout>

<div class="container_1_2">
    <div>
        <h1>PROGRAM 2024</h1>
    </div>
    <div>
        <p>Forneden kan du finde en oversigt over alle 58 lysværker i perioden d. 2.-25. febuar 2024</p>
    </div>
</div>

<div class="container_2_2">
    <div>
        <img src="/src/assets/01.-Du-som-er-i-Himlene-scaled.webp" alt="Du som er i Himlene">
    </div>
    <div>
        <h2>01. Du som er i Himlene!</h2>
        <p><span>Af: </span>Marie Nørgaard (DK)</p>
        <p><span>Hvor: </span>Højbro Plads</p>
        <p>Værket skaber en forbindelse mellem jorden under os og himmelen over  os. Mellem det fysiske og det åndelige. Overgivelse til noget, som er  højere end os. Et sted, hvor man kan forbinde sig til det, man tror på.
        Marie Nørgaard Nielsen er en dansk tekstilkunstner, som tidligere har  deltaget i Copenhagen Light Festival med Oraklet i 2022 og med På den  anden side af Solen i 2023, der senere samme år var en del af festivalen  Light Art Grindelwald i de schweiziske alper.
        Mani Nikdel er en iransk designer og kunstner, bosat i Århus. Han har  deltaget på Copenhagen Light Festival de seneste to år med  Transcendence i 2022 og Terra i 2023.</p>
        <p><span>Lys: </span>Mani Nikdel</p>
        <p><span>Instagram: </span>marienoergaardnielsen</p>
        <p><span>Tak: </span>Mathilde Märcher, Jes Hermann Saatterup, Erik Larsen & Søn, Martin Lighting.</p>
    </div>
</div>

<!-- karrusel -->

<h2>Se events</h2>
<img src="/src/assets/Hoppe_pil.svg" alt="events pil">

<h1>EVENTS 2024</h1>
<p>Forneden kan du finde en oversigt over alle  events i perioden d. 2.-25. febuar 2024</p>

</MainLayout>