---

---

<section class="collapsible">
    <h3>AfterDAC: Se lyst på mørket </h3>
    <p>torsdag d. 22.2. kl. 20-21.30</p>
    <img class="collapse-icon" src="/src/assets/drop_down_pil.svg" alt="">
</section>

<div class="content" style="display: none;">
    <div><img src="/src/assets/dac.png" alt=""></div>
    <div>
        <p><span>Af: </span>Dansk Arkitektur Center</p>
        <p><span>Hvor: </span>Bryghusgade 10, 1473 København</p>
        <p>Hvorfor bruger vi mest byen om  sommeren? Hvorfor ikke også, når det er koldt – på vinterens præmisser?  Copenhagen Light Festival hjælper os til at nyde byen om vinteren. Men  hvad gør vi, når festivalens lys er slukket?
        Kom til AfterDAC og mød en af drivkræfterne bag Copenhagen Light  Festival, lysdesigner Jesper Kongshaug, og arkitekt Ellen T. O’Gara,  indehaver af tegnestuen Platant, som i mere end ti år har arbejdet med  vinterbyen.</p>
    </div> 
</div>

<style>

img.collapse-icon {
    width: 10%; 
    display: block;
    height: auto;
    justify-self: end;
    transition: transform 0.3s ease;
}

.collapsible {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    border-top: 1px solid black;
    cursor: pointer;
}

.content {
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 80px;
    gap: 30px;
}
</style>

<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
        this.classList.toggle("active");
        var content = this.nextElementSibling;
        if (content.style.display === "grid") {
            content.style.display = "none";
            this.querySelector('.collapse-icon').style.transform = 'rotate(0deg)';
        } else {
            content.style.display = "grid"; 
            this.querySelector('.collapse-icon').style.transform = 'rotate(-90deg)';
            closeOtherCollapsibles(this);
        }
    });
}

function closeOtherCollapsibles(activeCollapsible) {
    var collapsibles = document.getElementsByClassName("collapsible");
    for (var j = 0; j < collapsibles.length; j++) {
        if (collapsibles[j] !== activeCollapsible) {
            collapsibles[j].classList.remove("active");
            var content = collapsibles[j].nextElementSibling;
        }
    }
}

</script>

<!-- <a href={`/name/${data.artist}`}>
<article>
    <div class="imgfolder">
    <img src={data.profile_img} alt="placeholder">
    </div>
    <h2>{data.name}</h2>
    <p>Show more</p>
</article>
</a> -->