---

---
<article>
<a href="index.html"><img src="/src/assets/Stacked-Logo-for-frontpage.webp" alt="Copenhagen Light Festival logo"></a>
<p class="nav_dato">2. – 25. FEBRUAR 2024</p>
</article>

<style>
    img {
        max-width: 8rem;
        max-height: 8rem;
    }
    
    .nav_dato {
    font-family: "Montserrat", sans-serif;
    font-size: small;
    color: black;
    font-weight: bold;
    }
    

</style>