---

---
<article>
<a href=""><img src="/src/assets/Stacked-Logo-for-frontpage.webp" alt="Copenhagen Light Festival logo"></a>
<p>2. – 25. FEBRUAR 2024</p>
</article>
<style>
    img {
        max-width: 13rem;
        max-height: 13rem;
    }
</style>