---

---
<article>
<a href="index.html"><img src="/src/assets/Stacked-Logo-for-frontpage.webp" alt="Copenhagen Light Festival logo"></a>
<p class="dato_nav">2. – 25. FEBRUAR 2024</p>
</article>
<style>
    img {
        max-width: 10rem;
        max-height: 10rem;
    }

    .dato_nav {
        
    }
</style>