---

---

<section class="scrolling-container">

    <div class="slider">
        <div class="slide-track">
            <div class="slide">
                <img src="/NBLU-logo-prim├art-kort-white.webp" alt="NBLU Logo">
            </div>
            <div class="slide">
                <img src="/Villum-Fonden-White.webp" alt="Villum Fonden">
            </div>
            <div class="slide">
                <img src="/Augustinus_500x300_web.webp" alt="AugusTinus">
            </div>
            <div class="slide">
                <img src="/broenshoej-vandtårn.webp" alt="VandTårn">
            </div>
            <div class="slide">
                <img class="mindre" src="/KBH_Maerke_DK_White_CMYK-2.webp" alt="KbhMaerke">
            </div>
            <div class="slide">
                <img src="/KnudHoejgaard_500x300_web.webp" alt="Knud Hojgaard">
            </div>
            <div class="slide">
                <img src="/Logo_HVID_PNG_ restad-Syd.webp" alt="LogoHvid">
            </div>
            <div class="slide">
                <img src="/logo_plads23_hvid-1.webp" alt="LogoPlads">
            </div>
            <div class="slide">
                <img src="/Louis-Hansens_Fond_logo_RGB_Hvid.webp" alt="LouisHansen">
            </div>
            <div class="slide">
                <img class="mindre" src="/mainlogo_white_kulturtårnet.webp" alt="KulturTaarnet">
            </div>
            <div class="slide">
                <img src="/NBLU-logo-prim├art-kort-white.webp" alt="NBLU Logo">
            </div>
            <div class="slide">
                <img src="/Villum-Fonden-White.webp" alt="Villum Fonden">
            </div>
            <div class="slide">
                <img src="/Augustinus_500x300_web.webp" alt="AugusTinus">
            </div>
            <div class="slide">
                <img src="/broenshoej-vandtårn.webp" alt="VandTårn">
            </div>
            <div class="slide">
                <img class="mindre" src="/KBH_Maerke_DK_White_CMYK-2.webp" alt="KbhMaerke">
            </div>
            <div class="slide">
                <img src="/KnudHoejgaard_500x300_web.webp" alt="Knud Hojgaard">
            </div>
            <div class="slide">
                <img src="/Logo_HVID_PNG_ restad-Syd.webp" alt="LogoHvid">
            </div>
        </div>
    </div>
    
</section>



<style>

    img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.slide {
    height: 100px; 
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px; 
}

.scrolling-container {
    padding-top: 20px;
    padding-bottom: 20px;
    overflow: hidden;
    background-color: #4487CC;
}

.slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}

.slide-track {
    animation: scroll 40s linear infinite;
    display: flex;
    width: calc(250px * 14);
}

/* Animation */
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-250px * 14)); }
}

</style>