---
import "../styles/global.css"
import Logo from "../components/Logo.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header>
			<nav>
                <Logo></Logo>
				<ul>
					<li><a href="program.html">Program</a></li>
					<li><a href="">Festival Map</a></li>
					<li><a href="">Book</a></li>
					<li><a href="">Info</a></li>
					<li><a href="">Om</a></li>
				</ul>
			</nav>
		</header>
        <main>
            <slot />
        </main>
        <footer>
            <article>
        <h2>Kontakt:</h2>
        <ul>
            <li><span>Mail:</span> info@copenhagenlightfestival.org</li>
            <li><span>Telefon:</span> +45 25556604</li>
            <li><span>Adresse:</span> Toldbodgade 39, 1253 København K</li>
            <li><span>Vat/CVR:</span> DK-40793232</li>
        </ul>
        </article>
        <article>
<h2>Join our news letter!</h2>
        <form id="newsletter-form" action="#" method="post">
            <input type="textarea" name="text" placeholder="First name" required>
            <input type="textarea" name="text" placeholder="Last name" required>
            <input type="email" name="email" placeholder="E-mail" required>
            <button type="submit">Subscribe</button>
        </article>
        </footer>
</html>
    </body>

    <style>

        /* Header */
        nav {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding-top: 10px;
            padding-left: 10px;
            position: fixed;
            top: 0;
            width: 100%;
            background-color: white; 
        }

        nav ul {
        list-style-type: none;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        gap: 1rem;
        padding-right: 40px;
        }

    /* Footer */
    footer {
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    footer ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0;
    }

    li {
        font-family: "Open Sans", sans-serif;
        line-height: 1.3;
    }

    li span {
        font-weight: bold;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 25rem;
    }

    input {
        border-top: none;
        border-right: none;
        border-left: none;
    }

    form button {
    place-self: end;
    }
    </style>