---
import "../styles/global.css"
import Logo from "../components/Logo.astro"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<header>
			<nav>
                <Logo></Logo>
                <p>2. – 25. FEBRUAR 2024</p>
				<ul>
					<li><a href="">Program</a></li>
					<li><a href="">Festival Map</a></li>
					<li><a href="">Book</a></li>
					<li><a href="">Info</a></li>
					<li><a href="">Om</a></li>
				</ul>
			</nav>
		</header>
        <main>
            <slot />
        </main>
        <footer>

        </footer>
</html>
    </body>